mixin about
    .about
        .about__wrapper
            .container.container--about
                .row
                    .col-7
                        .about__img-wrapper
                        img.about__img(src="./img/about-img.png", alt="food on a table")
                    .col-5
                        .about__info
                            h2.about__title About Us
                            p.about__paragraph Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. 