mixin home
    .home
        +nav
        .container
            .row
                .col-6.offset-6
                    .home__inner
                        h1.home__title Contact Us For Best Breakfast
                        p.home__paragraph Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                        a.home__btn(href="#") Contact Us
