mixin nav 
    nav.nav
        .container.container--lg
            .row
                .col-12
                    .nav__inner
                        ul.nav__list.d-flex.justify-content-between
                            li.nav__list-item
                                a.nav__list-link(href="#") Home
                            li.nav__list-item
                                a.nav__list-link(href="#") About
                            li.nav__list-item
                                a.nav__list-link(href="#") Menus
                            li.nav__list-item
                                a.nav__list-link(href="#") Offers
                            li.nav__list-item
                                a.nav__list-link(href="#").d-flex.justify-content-center
                                    img.nav__list-img(src="./img/logo.png", alt="logo")
                            li.nav__list-item
                                a.nav__list-link(href="#") Gallery
                            li.nav__list-item
                                a.nav__list-link(href="#") Contact
                            li.nav__list-item
                                a.nav__list-link(href="#") Blog
