mixin quality
    .quality
        .quality__wrapper
            .container
                .row
                    .col-7
                        .quality__info
                            h2.quality__title Our Food Quality
                            p.quality__paragraph Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
