include ../pug/icons.svg
include ../blocks/nav/_nav.pug
include ../blocks/home/_home.pug
include ../blocks/about/_about.pug
include ../blocks/quality/_quality.pug


<!DOCTYPE html>
html(lang="en")

    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="description", content="Test task")
        title Test Task
        link(rel="icon" href="./favicon.ico" type="image/x-icon")
        link(rel="stylesheet", href="./css/style.css")
    body
        +home
        +about
        +quality